.inventory {
  width: 100%;
  margin: 24px;
  padding: 24px;

  &-commodity {
    .content {
      &-catalog {
        .card-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
          grid-auto-rows: auto;
          grid-gap: 1rem;

          .card-item {
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            padding: 0;
            border-radius: 10px;
            overflow: hidden;

            .info {
              padding: 16px;
              width: 100%;
            }
          }
        }
      }

      &-variant-details {
        .content-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 1rem;

          @import "../../components/contentHeaderCard";

          .content-header-button {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  // &-details {
  //   .content {}
  // }

  &-kitchen {
    .content-sales-order {
      .sales-order-info {
        display: flex;
        flex-flow: column nowrap;
        min-width: 160px;
        margin-right: 30px;
        margin-bottom: 16px;
        // background-color: red;
      }
    }

    .content-rincian-penjualan {
      margin-bottom: 150px;
    }

    .mol-trx-kitchen {
      .content {
        margin-top: 32px;
        margin-bottom: 74px;

        .inventory-input-qty {
          margin-bottom: 1.5rem;

          .input-group {
            border-color: #C8C8C8;

            .input-group-prepend {
              .input-group-text {
                color: #292929;
                background-color: transparent;
              }
            }
          }
        }
      }
      
      .button-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        :last-child {
          margin-left: 12px;
        }
      }
    }
  }

  // .chart {
  //   background: #e1e1e1;
  // }

  // &-table {
  //   width: 100%;
  //   // box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
  //   //   0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
  //   thead {
  //     box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
  //       0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
  //   }
  //   th {
  //     // color: red;
  //     padding: 24px;
  //     background-color: #f3f2f1;
  //     // font-family: Segoe UI;
  //     font-style: normal;
  //     font-weight: 600;
  //     font-size: 14px;
  //     line-height: 20px;
  //   }

  //   td {
  //     padding: 24px;
  //     // font-family: Segoe UI;
  //     font-style: normal;
  //     font-weight: 600;
  //     font-size: 14px;
  //     line-height: 20px;
  //     vertical-align: middle;
  //   }

  //   tbody {
  //     margin-top: 1px;
  //     box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
  //       0px 1.6px 3.6px rgba(0, 0, 0, 0.13);

  //     tr {
  //       background-color: white;
  //     }

  //     tr:hover {
  //       background-color: rgba(105, 152, 76, 0.41);
  //       cursor: pointer;
  //     }
  //   }
  // }

  // select {
  //   border-radius: 2px;
  //   border: 1px solid #8a8886;
  //   padding: 8px;
  //   // appearance: none;
  // }
}
