.transaction-detail {
  &-card {
    background: #ffffff;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
      0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    padding: 24px;

    .title-medium {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #292929;
    }

    .title-large {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 36px;
      color: #292929;
    }

    .sub-title {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #323130;
    }

    .label {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #605e5c;
    }

    .content {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #323130;
      margin-top: 4px;
    }

    .content-container {
    }

    &-list-item {
      padding: 8px;
      border-bottom: 1px solid #e1e1e1;
      // border-radius: 8px;

      .title {
        // font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #323130;
      }

      .label {
        // font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #6e6e6e;
      }

      .content {
        // font-family: Segoe UI;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #292929;
      }

      .indicator-success {
        border: 1px solid #78a25e;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px;
        text-align: center;

        // font-family: Segoe UI;
        // font-style: normal;
        // font-weight: normal;
        // font-size: 10px;
        // line-height: 12px;
        // color: #404040;
      }

      .indicator-warning {
        border: 1px solid #d29200;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px;
        text-align: center;
      }
    }
  }

  .highlight {
    color: #69984c;
  }

  .product-composition {
    .title {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }

    &-item {
      padding: 16px;
      background: #ffffff;
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
      border-radius: 4px;

      .label {
        // font-family: Segoe UI;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
      }

      .content {
        // font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
      }

      .input-stock {
        background: #ffffff;
        border: 1px solid #e1eadb;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 8px 12px;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          border: 0;
          appearance: none;
          outline: none;
          margin-left: 12px;
        }
      }
    }

    .total {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      color: #69984c;
    }
  }

  .transaction-kitchen {
    padding: 24px;
    .label {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #605e5c;
    }

    .content {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #323130;
    }
  }

  .upload-documents {
  }

  .save-button {
    padding: 8px 16px;
    background-color: #69984c;
    border-radius: 4px;
    appearance: none;
    border: 0;
    // font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }
}
