.sales-order {
  .search {
    padding: 8px;
    background: #ffffff;
    border: 1px solid #8a8886;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      border: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      margin-left: 4px;
    }
  }
}
