@import "../variable";

.component-btn {
  padding: 6px 20px;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  appearance: none;
  border: 1px solid transparent;
  transition: 150ms all ease-in-out;
  box-sizing: border-box;
  vertical-align: middle;

  &:focus {
    outline: none;
  }

  &.bold {
    font-weight: 600;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:active {
    color: #a19f9d;
    background-color: $gray20;
    border: 0;
    // cursor: not-allowed;
  }

  &.back-button {
    padding: 6px 8px;
    margin-bottom: 2rem;
  }

  &-primary {
    background-color: $primaryBrand;
    color: $white;
  }

  &-primary:hover {
    background-color: $primaryTint1;
    // font-weight: 600;
  }

  &-primary:active {
    background-color: $primaryShade1;
  }

  &-secondary {
    background-color: $white;
    color: $gray190;
    border: 1px solid #8a8886;
  }

  &-secondary:hover {
    background-color: $gray20;
    // font-weight: 600;
  }

  &-secondary:active {
    background-color: $gray100;
  }

  &-danger {
    background-color: #D92C2C;
    color: $white;

    &:hover {
      background-color: #BB2424;
    }
    &:active {
      background-color: #8B1C1C;
    }
  }

  &-text {
    background-color: transparent;
    color: $gray190;
    border: 0;

    &.active {
      color: $primaryBrand;
    }

    &.disabled,
    &.disabled:active,
    &.disabled:hover {
      background-color: transparent;
    }
  }

  &-text:hover {
    background-color: $gray20;
    background-color: transparent;
    color: $primaryBrand;
    // font-weight: 600;
  }

  &-text:active {
    background-color: $gray30;
    background-color: transparent;
  }

  &-split {
    padding-right: 8px;
  }

  &-icon {
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;

    &-append {
      margin-left: 10px;
    }

    &-prepend {
      margin-right: 10px;
    }

    &-split {
      margin-left: 20px;
      border-left: 1px solid $gray60;
      padding-left: 8px;
    }
  }

  &-icon-only {
    margin-left: 1rem;
    background-color: #fff;
    border-radius: 4px;
    border: 1.5px solid $primaryBrand;
    border: 1.5px solid transparent;

    // &:hover {
    //   background-color: $primaryBrand;
    //   color: #fff;
    // }
  }

  &-action {
    display: flex;
    background-color: transparent;
    border: 1px solid $primaryBrand;
    border-radius: 4px;
    padding: 4px;
    margin: 0 1rem;

    &:hover {
      border: 1px solid $primaryTint3;
      background-color: $primaryTint3;
      color: #ffffff;
      stroke-width: 2px;
    }
  }

  &-action-table {
    width: 100%;
    background-color: transparent;
    padding: 6px 0;
    margin: auto;
    &:hover {
      background-color: transparent;
    }
  }

  &-link {
    display: flex;
    padding: 0;
    margin: auto;
    color: $primaryBrand;
    color: #0078D4;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }
}


// .btn {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: max-content;
//   height: 30px;
//   padding: 0.375rem 0.5rem;
//   font-size: 0.875rem;
//   font-weight: normal;
//   line-height: 1;
//   color: $black;
//   text-align: center;
//   cursor: pointer;
//   -webkit-user-select: none;
//   user-select: none;
//   background-color: transparent;
//   border: 1px solid transparent;
//   border-radius: 0.125rem;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
//     border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

//   .prepend {
//     display: block;
//     color: $black;
//     font-size: 1rem;
//     line-height: 0.5;
//     padding-right: 0.5rem;
//   }
//   .append {
//     display: block;
//     color: $black;
//     font-size: 1rem;
//     line-height: 0.5;
//     padding-left: 0.5rem;
//   }
//   .text {
//     display: block;
//     font-family: "Segoe UI";
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 20px;
//   }
//   .dropdown {
//     display: block;
//     font-size: 0.75rem;
//     line-height: 1;
//     padding-left: 0.5rem;
//   }

//   &:focus {
//     border-color: $gray160;
//     box-shadow: none;
//   }
//   &:hover {
//     background-color: $gray20;
//     box-shadow: none;
//   }
//   &:active {
//     background-color: $gray30;
//     box-shadow: none;
//   }
//   &:disabled {
//     .prepend,
//     .append {
//       color: $gray60;
//     }
//     color: $gray90;
//     cursor: default;
//     user-select: none;
//     border: 1px solid transparent;
//     &:hover {
//       background-color: transparent;
//       border: 1px solid transparent;
//     }
//   }

//   &.btn {
//     &-primary {
//       background-color: $primaryBrand;

//       .prepend,
//       .append {
//         color: $white;
//       }
//       .text {
//         color: $white;
//         font-weight: 600;
//       }
//       .dropdown {
//         color: $white;
//       }

//       &:hover {
//         background-color: $primaryShade1;
//         border: 1px solid transparent;
//         box-shadow: none;
//       }
//       &:focus {
//         background-color: $primaryBrand;
//         border: 1px solid #fff;
//         box-shadow: 0 0 0 2px $primaryBrand, inset 0 0 0 1px $primaryBrand;
//       }
//       &:active {
//         background-color: $primaryShade4;
//         border: 1px solid transparent;
//         box-shadow: none !important;
//       }
//       &:disabled {
//         background-color: $gray20;
//         user-select: none;
//         border: 1px solid transparent;
//         .prepend,
//         .append {
//           color: $gray60;
//         }
//         .text {
//           color: $gray90;
//         }
//         .dropdown {
//           color: $gray90;
//         }
//       }
//     }

//     &-danger {
//       background-color: $error-status;

//       .prepend,
//       .append {
//         color: $white;
//       }
//       .text {
//         color: $white;
//         font-weight: 600;
//       }
//       .dropdown {
//         color: $white;
//       }

//       &:hover {
//         background-color: $error-darker;
//         border: 1px solid transparent;
//         box-shadow: none;
//       }
//       &:focus {
//         background-color: $error-status;
//         border: 1px solid #fff;
//         box-shadow: 0 0 0 2px $error-status, inset 0 0 0 1px $error-status;
//       }
//       &:active {
//         background-color: $error-darker;
//         border: 1px solid transparent;
//         box-shadow: none !important;
//       }
//       &:disabled {
//         background-color: $gray20;
//         user-select: none;
//         border: 1px solid transparent;
//         .prepend,
//         .append {
//           color: $gray60;
//         }
//         .text {
//           color: $gray90;
//         }
//         .dropdown {
//           color: $gray90;
//         }
//       }
//     }

//     &-secondary {
//       background-color: $white;
//       border: 1px solid $gray110;

//       .prepend,
//       .append {
//         color: $gray190;
//       }
//       .text {
//         color: $gray190;
//         font-weight: 600;
//       }
//       .dropdown {
//         color: $gray130;
//       }

//       &:hover {
//         background-color: $gray20;
//         border: 1px solid $gray110;
//       }
//       &:focus {
//         background-color: #fff;
//         border: 1px solid #fff;
//         box-shadow: 0 0 0 2px $gray110, inset 0 0 0 1px $gray160;
//       }
//       &:active {
//         background-color: $gray30;
//         border: 1px solid $gray110;
//         box-shadow: none !important;
//       }
//       &:disabled {
//         background-color: $gray20;
//         user-select: none;
//         border: 1px solid transparent;
//         .prepend,
//         .append {
//           color: $gray60;
//         }
//         .text {
//           color: $gray90;
//         }
//         .dropdown {
//           color: $gray90;
//         }
//       }
//     }

//     &-link {
//       background-color: transparent;
//       .text {
//         color: $primaryBrand;
//         font-weight: 400;
//       }
//       &:focus {
//         border-color: transparent;
//         box-shadow: none;
//       }
//       &:hover {
//         .text {
//           text-decoration: underline $primaryBrand;
//           // text-decoration-color: $primaryBrand;
//         }
//       }
//     }

//     &-pivot-stack {
//       font-size: 14px;
//       padding: 5px 0;
//       margin: 0 12px;
//       border: none;
//       border-bottom: 2px solid transparent;
//       background-color: transparent !important;

//       &.active {
//         font-weight: 500;
//         border-bottom-color: $primaryBrand;
//       }

//       &:hover {
//         border-bottom-color: $primaryBrand;
//       }
//       &:focus {
//         outline: none;
//         box-shadow: none;
//         border-bottom-color: $primaryBrand;
//       }
//     }

//     &-close-modal {
//       background-color: transparent;
//       background-color: red;
//       .icon {
//         color: red;
//         font-size: 12px;
//         font-weight: 500;
//       }
//       &:focus {
//         box-shadow: none;
//       }
//       &:hover {
//         background-color: red;
//       }
//     }

//     &-float {
//       background-color: transparent;
//       &:focus {
//         border-color: transparent;
//       }
//     }
//   }
// }
