@import "../variable";

.component-card {
  padding: 8px;
  border-radius: 2px;
  background: white;

  &-border {
    &-primary {
      border: 1px solid $primaryBrand;
    }

    &-warning {
      border: 1px solid $warning;
    }

    &-danger {
      border: 1px solid $danger;
    }

    &-none {
      border: 0;
    }
  }
}
