.component-collapse {
  opacity: 0;
  height: auto;
  max-height: 0;
  visibility: hidden;
  transition: visibility 0.2s ease-in-out, max-height 0.25s ease-in-out, opacity 0.35s ease-in-out;

  &.show {
    visibility: visible;
    opacity: 0.99;
    max-height: 250px;
  }

  &.table-collapse {
    transition: visibility 0.2s ease-in-out, max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
}
