.content-header-card {
  display: flex;
  flex-direction: row;

  .content-header-card-item {
    border: 1px solid $primaryTint7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    margin-right: 0.75rem;
    align-items: flex-start;

    &.right {
      align-items: flex-end;
    }

    &:last-child {
      margin-right: 0;
    }

    .title {
      font-size: 14px;
      line-height: 20px;
      color: #3f3f3f;
    }
    .value {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #5f8944;
    }
  }
}
