.mol-update-status {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  min-height: 110px;
  margin-bottom: 1rem;

  .content:first-child {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .content:last-child {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    a {
      margin-top: auto;
    }
  }
}

.mol-data-user,
.mol-data-tender,
.mol-data-transaksi {
  width: 100%;
  margin-bottom: 1rem;

  .header {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
  }

  .content {
    padding-top: 0.5rem;
    .info-title {
      margin-top: 1rem;

      .component-typography {
        color: #6e6e6e;
      }
    }

    .info-value {
      display: flex;
      flex-flow: row nowrap;
    }
  }
}

.mol-qc-report {
  width: 100%;
  margin-bottom: 1rem;

  .component-collapse.show {
    max-height: 500px;
  }

  .qc-officername {
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .header {
    &-collapse {
      user-select: none;
      padding: 14px 16px;
      margin-top: 10px;
      cursor: pointer;
      border-bottom: 1px solid #e1e1e1;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      .title-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 1rem;

        .qc-badge {
          padding: 0 0.5rem;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border: 1px solid $primaryBrand;
        }
      }
    }
  }

  .content {
    padding: 1rem;
    padding-bottom: 0;

    &-dark {
      background-color: #f8f8f8;
    }

    .mol-reportqc-item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .info {
        display: flex;
        flex-flow: column nowrap;
      }

      .timestamp {
        display: flex;
        align-items: flex-end;
        flex-flow: column nowrap;
      }

      &-details {
        flex-flow: column nowrap;

        .details-offer,
        .details-actual {
          display: flex;
          flex-flow: column nowrap;
        }

        .details-offer {
          margin-bottom: 0.5rem;
        }
        .details-actual {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .btn-download-qc-report {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .btn-pick-officer {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
  }
}

.mol-rincian-tender {
  margin-bottom: 1rem;

  .content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    border-top: 2px solid #edebe9;
    border-bottom: 2px solid #edebe9;

    .image-wrapper {
      width: 110px;
      height: 110px;
      overflow: hidden;
      margin-right: 1rem;
      border-radius: 2px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .tender-info {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;

      .tender-item {
        display: flex;
        flex-flow: row nowrap;
        padding: 1rem 0;
        border-top: 1px solid #edebe9;

        &-first {
          border-top: 1px solid transparent;
        }

        .tender-item-title {
          flex: 0 0 30%;
          max-width: 30%;
          padding-right: 2rem;
        }
        .tender-item-value {
          flex: 0 0 70%;
          max-width: 70%;
        }
      }
    }
  }

  .total-nominal-tender {
    margin: 2rem;
    margin-left: 125px;
    display: flex;
    flex-flow: column nowrap;
  }
}

.mol-rincian-penjualan {
  margin-bottom: 1rem;

  .header {
    margin-bottom: 1rem;
  }

  .content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    .rincian-penjualan-item {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      border: 1px solid #d2e0c9;
      border-radius: 8px;
      margin: 0.5rem 0;
      padding: 0;
      user-select: none;

      .body {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-flow: row nowrap;

        .image-wrapper {
          width: 85px;
          height: 85px;
          overflow: hidden;
          margin-right: 1rem;
          border-radius: 2px;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .product-info {
          width: 90%;

          .product-info-details {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .details-item {
              display: flex;
              flex-flow: column nowrap;
              margin-top: 0.5rem;
              margin-right: 0.5rem;
              min-width: 22%;
              max-width: 80%;

              &:first-child {
                min-width: 28%;
              }
            }
          }
        }
      }

      .collapsible-info {
        display: flex;
        flex-flow: column nowrap;
        border-top: 1px solid #f1f1f1;
        cursor: pointer;
        user-select: none;

        .collapse-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem 1rem;
        }

        .collapse-wrapper {
          display: flex;
          flex-flow: row wrap;
          padding: 3rem;

          .collapse-body {
            width: 50%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-evenly;
            background-color: #f8f8f8;
            padding-top: 40px;
            padding-bottom: 40px;

            .collapse-body-content {
              display: flex;
              flex-flow: row wrap;
              padding: 8px;

              .stock-info {
                display: flex;
                flex-flow: column nowrap;

                &:nth-child(2) {
                  margin: auto 21px;
                }

                &-percentage {
                  width: 65px;
                  height: 65px;
                  border-radius: 65px;
                  background-color: #d2e0c9;
                  align-items: center;
                  justify-content: center;
                }

                &-stock {
                  justify-content: center;
                }

                &-status {
                  align-items: flex-start;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer {
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;

    .biaya-tambahan {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;

      .title {
        // margin-left: auto;
      }
      .value {
        display: flex;
        flex-flow: row wrap;
        margin-top: 8px;

        .value-item {
          display: flex;
          flex-flow: column wrap;
          align-items: flex-end;
          margin-left: 14px;
        }
      }
    }

    .total-nominal-transaksi {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      margin-left: 50px;
    }
  }
}

.mol-riwayat-ekspedisi {
  width: 100%;
  margin-bottom: 1rem;

  .officer-name {
    margin-top: 1.5rem;
  }

  .content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 1.5rem;

    .bullet {
      width: 14px;
      height: 14px;
      border-radius: 14px;
      background-color: #69984c;
      margin: 6px 12px 0 0;
    }
  }
}

.mol-qr-download {
  width: 100%;
  margin-bottom: 1rem;

  .qr-wrapper {
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: 0 auto 1.5rem;

    .qr-image {
      width: 100%;

      &-dummy {
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
      }
    }
  }
}
