.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: 1;
  background-color: $white;
  color: $secondaryBrand;
  height: 56px;
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);

  .navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: "bold";
  }
  .navbar-nav {
    flex-direction: row !important;
  }

  li.nav-item {
    &:nth-child(2) {
      margin-left: 10px;
    }
    &:last-child {
      margin: 0 32px;

      .profile {
        background-color: $gray20;
        width: 150px;
        height: 40px;
        border-radius: 27px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .image {
          border-radius: 33px;
          overflow: hidden;
          border: 0.5px solid #8a8886;
          margin: 0 4px;
          img {
            width: 33px;
            height: 33px;
            object-fit: cover;
          }
        }

        .name {
          color: $primary;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 12px;
          padding: 0 5px;
          border-left: 1px solid $gray60;
        }

        .role {
          color: $secondary;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 12px;
          padding: 0 5px;
          border-right: 1px solid $gray60;
        }
      }
    }

    button {
      color: $secondaryBrand;
      background-color: transparent;
      border: none;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      display: block;
      text-align: center !important;

      svg {
        margin-bottom: 5px;
      }

      span {
        display: block;
      }

      &:focus {
        outline: none;
      }
    }

    .dropdown-menu {
      button {
        color: #212529;
      }
    }
  }

  li.dropdown {
    color: #212529;
  }
}
