.pagination {
  color: $gray190;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 2px;

  // li {
  //   button {
  //     &:focus {
  //       outline: none;
  //       box-shadow: none;
  //       border: 1px solid transparent;
  //     }
  //     &:active {
  //       background-color: $primaryBrand;
  //     }
  //   }
  // }

  .arrow,
  .number {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
      margin: 0 2px;
      color: $secondary;
      font-size: 16px;
      line-height: 1;
      user-select: none;
      -webkit-user-select: none;
      background-color: $white;
      border-radius: 2px;
      border: 0.5px solid $gray30;

      &:focus {
        outline: none;
        box-shadow: none;
        outline-color: transparent;
      }
      &:active {
        box-shadow: none !important;
        color: #fff;
        background-color: $primaryBrand;
        outline-color: transparent;
      }
    }
  }
  .arrow {
    &.first {
      button {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-left: none;
      }
    }
    &.last {
      button {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right: none;
      }
    }
    &.disabled {
      button {
        color: $disabled;
        background-color: #fff;
        cursor: default;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;

        &:focus {
          box-shadow: none;
          outline: none;
        }
        &:active {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }

  .number {
    button {
      border: 1px solid #e1e1e1;
      color: #292929;
    }
    &.active {
      button {
        color: $primaryBrand;
        background-color: #fff;
        border: 1px solid $primaryBrand;
        box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
      }
    }
  }
}
