.component {
  &-panel {
    background: #ffffff;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    border-radius: 4px;

    &-16 {
      padding: 16px;
    }

    &-24 {
      padding: 24px;
    }

    &-body {
      padding: 8px 0px 0px 0px;
      margin-top: 8px;

      &.bordered {
        border-bottom: 1px solid #e1e1e1;
      }
    }

    .title-large {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 36px;
      color: #292929;
    }

    .title-medium {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #292929;
    }

    .bold {
      font-weight: 600;
    }

    .head {
      &.bordered {
        padding-bottom: 16px;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }
}
