.component-segmented-title {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1.5rem;

  .title-item {
    color: $gray600;
    cursor: pointer;
    padding: 0 20px;

    &:first-child {
      padding-left: 0;
    }

    &.bold {
      font-weight: 500;
    }
  }
}
