.component-select {
  display: flex;
  padding: 6px 8px;
  background: #ffffff;
  border: 1px solid #8a8886;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  margin-left: 28px;
  font-size: 14px;
}
