.dashboard-sidebar {
  position: fixed;
  top: 56px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80px;
  z-index: 1000;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: $secondaryBrand;
  padding: 16px 0;
  padding-bottom: 65px - 16px;

  .empo-sidebar {
    .list-group-item {
      background-color: $secondaryBrand;
      cursor: pointer;
      border-radius: 0;
      border: 1px solid transparent;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      height: calc((100vh - 56px) / 10);

      .icon {
        color: #fff;
        align-self: center;
        margin-bottom: 3px;
      }
      .text {
        // font-family: "Segoe UI";
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        text-transform: capitalize;
        color: #fff;

        max-width: 70px;
        align-self: center;
      }

      &.active {
        background-color: #585858;
      }

      &:hover {
        background-color: #585858;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: transparent;
      }
      &:active {
        .icon,
        .text {
          color: $primaryBrand;
        }
      }
    }
  }

  &.child {
    position: fixed;
    top: 56px;
    left: 80px;
    display: block;
    width: 0;
    z-index: 1000;
    transition: width 0.25s ease-in-out;

    .empo-sidebar {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      transition: visibility 0.25s ease-in;

      .list-group-item {
        padding-left: 8px;

        .text {
          font-size: 12px;
          line-height: 16px;
          text-align: left;
          align-self: flex-start;
          max-width: 120px;
        }
      }
    }

    &.open {
      width: 140px;

      .empo-sidebar {
        transition-delay: 0.2s;
        visibility: visible;
      }
    }
  }
}
