.component {
  &-tab-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .tab-item {
      color: $gray600;
      position: relative;
      padding: 2px 0 10px;
      margin-right: 11px;
      letter-spacing: 0.25px;
      user-select: none;

      &:last-child {
        margin-right: 0;
      }

      //? I do have a better way, pls check out
      // Emang lo terbaik dah nang
      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $primaryBrand;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: transform 0.2s ease-in-out;
      }

      &.bold {
        color: $gray800;
        &::before {
          transform: translate(-50%, 0) scaleX(1);
        }
      }

      // Find a better way to do this
      // &.active::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   bottom: -12px;
      //   left: 0;
      //   // right: 0;
      //   border-bottom: 2px solid #69984c;
      //   width: 100%;
      //   transition: ease-in-out 250ms all;
      // }
    }

    // .tab-item:hover {
    //   cursor: pointer;
    // }
  }
}
