.component {
  &-table {
    width: 100%;

    &.bordered {
      tr {
        border-bottom: 1px solid #e1e1e1;
      }
    }

    thead {
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);

      &.dark {
        th {
          background-color: #f3f2f1;
          color: inherit;
        }
      }
    }
    th {
      // color: red;
      padding: 20px 12px;
      background-color: white;
      color: #69984c;
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }

    td {
      padding: 12px;
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      vertical-align: middle;
    }

    tbody {
      margin-top: 1px;
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);

      tr {
        background-color: white;
      }

      tr:hover {
        background-color: #e1eadb;
        cursor: pointer;
      }
    }

    tfoot {
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
      background-color: #fff;

      tr {
        td {
          padding: 1.5em 12px;
        }
      }
    }
  }
}
