.mol-widget {
  .widget-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .widget-header-title {
      .component-typography {
        color: #4c6072;
      }
    }

    .widget-header-form {
      .form-group {
        .input-group {
          border-color: #e1e1e1;
          border-radius: 4px;

          .input-group-prepend {
            .input-group-text {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .widget-header-dropdown {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    .dropdown-toggle-btn {
      padding: 0 5px;
    }

    .dropdown-menu {
      .dropdown-item {
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        &.active {
          background-color: #00bcf2;
        }

        &:hover {
          background-color: #ebf4f7;
          &.active {
            background-color: #00bcf2;
          }
        }
        &:active {
          background-color: #00bcf2;
        }
      }
    }
  }

  .widget-custom-tooltip {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    padding: 8px;

    .label {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-panel {
    min-height: 165px;
  }

  &-card {
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    min-width: 158px;

    .widget-header {
      .widget-header-title {
        display: flex;
        align-items: flex-start;
      }
    }

    .widget-total-value {
      margin-top: 0.5rem;
    }

    .widget-percentage {
      margin-top: 0.25rem;
    }

    &.clickable {
      cursor: pointer;

      &.active {
        background-color: #00bcf2;

        .widget-header {
          .widget-header-title {
            .component-typography {
              color: #fff;
            }
          }
        }

        .widget-total-value {
          .component-typography {
            color: #fff;
          }
        }

        .widget-percentage {
          .component-typography {
            color: #fff !important;
          }
        }
      }

      &:hover {
        background-color: #ebf4f7;
        &.active {
          background-color: #00bcf2;
        }
      }
      &:active {
        background-color: #00bcf2;
      }
    }
  }
}
