.purchasing {
  width: 100%;
  margin: 24px;
  padding: 24px;

  &-tender-details {
    padding-top: 8px;
    padding-bottom: 300px;
  }

  .input-date {
    .input-group {
      border: 1px solid #f1f1f1;
      .input-group-text {
        background-color: #fff;
      }
    }
  }

  .content {
    &-tender {
      table {
        td {
          vertical-align: top;
          &:last-child {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
