.detail-transaksi-pemesanan {
  .profile-pic {
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 2px;
  }

  .collapse-toggle {
    border-top: 1px solid #f1f1f1;
    padding-top: 8px;
    width: 100%;

    :hover {
      cursor: pointer;
    }
  }

  .transaction-detail-card {
  }

  .primary-circle {
    border-radius: 50%;
    background: $primaryTint7;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sales {
  width: 100%;
  margin: 24px;
  padding: 24px;
  border-radius: 2px;

  &-product-catalog {
    .header {
      .header-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: $gray190;
      }
    }

    .tab-product-catalog {
      width: auto;
      .tab-item {
        margin-right: 50px;
        &:last-child {
          margin-right: 50px;
        }
      }
    }

    .body {
      display: inline-flex;
      flex-flow: row wrap;

      .subcategory-card {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        margin-bottom: 24px;

        .image-card {
          padding: 0;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 200px;
            object-fit: cover;
          }
        }
        .info {
          padding: 4px 4px 0;
          .info-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #323130;
          }
        }
      }
    }
  }

  &-subcategory,
  &-variant-details {
    .header {
      margin: 4rem 1rem 1.5rem;

      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #292929;
    }

    .content {
      .content-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;

        @import "../../components/contentHeaderCard";

        .content-header-button {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-variant-details {
    .form-siap-dijual {
      margin-right: 1rem;

      .input-group {
        .input-group-prepend {
          .input-group-text {
            font-weight: 600;
            background-color: transparent;
          }
        }
      }
    }
  }
}
