.addProduct-container {
  padding: 16px 24px;
  padding-left: 124px;
  background-color: $grey20;
  // background-color: $white;

  .addProduct-body {
    width: 100%;
    background-color: $white;
    box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.13), 0px 0.6px 1.8px rgba(0, 0, 0, 0.1);

    .inner-body {
      width: 450px;
      margin: 0 auto;

      .button-container {
        display: flex;
        margin: 40px auto;
        width: 100%;
        align-items: center;
        justify-content: center;

        .btn {
          width: 104px;
          margin: 0 !important;

          .btn-link {
            .text {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
