.katalog-container {
  width: 100%;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
  border-radius: 4px;

  .katalog-header {
    display: flex;
    margin-bottom: 20px;

    .katalog-title {
      color: $primary;
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
    }
  }

  .katalog-body {
    display: block;
    margin-bottom: 20px;

    .product-container {
      // height: 560px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      @media screen and (min-width: 1400px) {
        gap: 15px;
      }
      @media screen and (min-width: 1920px) {
        gap: 20px;
      }

      @import "./product";

      &.empty {
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        span:nth-child(2) {
          font-weight: 500;
        }
      }
    }
  }

  .katalog-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 24px;
  }
}
