.pengaturan-produk-container {
  padding-top: 43px;

  .pengaturan-produk-header {
    // display: flex;
    // height: 100px;
    margin-bottom: 24px;

    .pengaturan-produk-title {
      color: $primary;
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      margin-right: 16px;
      margin-bottom: 25px;
    }

    .button-pivot {
      display: flex;
      margin-bottom: 30px;

      .btn {
        margin: 0;
        margin-right: 54px;
      }
    }
  }

  .pengaturan-produk-body {
    display: flex;
    height: 100%;
    padding: 30px 0;
    background-color: #fff;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);

    .content-container {
      display: flex;
      flex-direction: column;
      min-height: 250px;
      min-width: 300px;
      border-right: 1px solid $gray60;
      padding-left: 50px;
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        border-color: transparent;
      }

      .body {
        flex: 1 1;
        .title {
          color: $primaryShade1;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.16px;
          text-transform: capitalize;
          margin-bottom: 24px;
        }
        .item-list {
          .item-list-component {
            display: flex;
            justify-content: space-between;

            .btn {
              margin: 8px 0;
              .text {
                font-family: "Segoe UI";
                font-size: 20px;
                line-height: 28px;
              }

              &.item-nama-kategori {
                .text {
                  font-weight: 600 !important;
                }
              }
              &.active {
                color: $primaryBrand;
              }

              &:disabled {
                color: $black;
                opacity: 1;
              }
            }
          }
        }
        .input-new {
          input {
            font-family: "Segoe UI";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            border: none;
            padding: 6px 8px;

            &:focus {
              outline: none;
            }

            &::placeholder {
              font-family: "Segoe UI";
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 28px;
            }
          }
        }
      }

      .footer {
        justify-content: flex-end;
        .btn {
          margin: 0;
        }
      }
    }
  }

  .pengaturan-produk-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #fff;

    &.empty {
      height: 50px;
      background-color: transparent;
    }
  }
}
