.product-details {
  min-height: 500px;
  width: 100%;

  .header {
    margin-bottom: 32px;

    .btn {
      padding-left: 0 !important;
    }
  }

  .content {
    padding: 16px;
    background: #ffffff;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    border-radius: 4px;

    .content-header {
      margin-bottom: 24px;

      .header-title {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #201f1e;
      }
    }

    .content-body {
      margin-bottom: 24px;
      table {
        width: 100%;

        thead {
          tr {
            height: 32px;
            border-bottom: 1px solid #8a8886;
            th {
              color: $primaryShade1;
              font-family: "Segoe UI";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
            }
          }
        }

        tbody {
          tr {
            height: 40px;
            border-bottom: 1px solid #e1dfdd;
            cursor: pointer;
            &:hover {
              background-color: $primaryTint30;
            }

            td {
              font-family: "Segoe UI";
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              vertical-align: bottom;
              color: $primary;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
