.product {
  max-width: 215px;
  height: 100%;
  flex: 1 0 calc(20% - 10px);
  color: #000;
  margin: auto;
  overflow: hidden;

  .product {
    &-image {
      border-radius: 15px;
      overflow: hidden;
      width: 215px;
      height: 215px;
      background-color: $white;

      img {
        width: 100%;
        height: 120%;
        object-fit: cover;
      }
    }

    &-info {
      // padding: 15px 10px;

      &-title {
        color: $primary;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 4px;
      }
      &-stock {
        color: $secondary;
        font-size: 16px;
        font-weight: "normal";
        line-height: 22px;
        margin-top: 8px;
      }
      &-price {
        color: $secondary;
        font-size: 16px;
        font-weight: "normal";
      }
      &-sku {
        color: $secondary;
        font-size: 16px;
        font-weight: "normal";
      }
    }
  }
}
