.katalog-user {
  width: 100%;
  margin: 24px;
  padding: 24px;
  border-radius: 2px;

  &-user-catalog {
    .grid-view-catalog {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 1rem;

      .member-card {
        cursor: pointer;
        display: flex;
        flex-flow: column wrap;
        padding: 16px;
        border-radius: 10px;
        overflow: hidden;

        .member-img-wrapper {
          width: 100%;
          height: 200px;
          margin-bottom: 4px;
          box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);

          .lazyload-wrapper {
            width: 100%;
            height: 200px;

            .member-img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 8px;
              align-self: center;
            }
          }
        }

        .info {
          display: flex;
          flex-flow: column wrap;

          .info {
            &-fullname,
            &-type {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
