.modal-activating-product {
  .modal-dialog {
    // SETTING MAX-WIDTH HERE
    max-width: 450px;

    .modal-content {
      .modal-body {
        display: flex;
        flex-direction: column;

        .title {
          font-family: "Segoe UI";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          align-self: center;
        }

        .button-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin: 20px 0 10px;

          .btn {
            line-height: 1;

            &.is-primary {
              .text {
                font-size: 16px;
                color: $primaryBrand;
              }
            }
            &.is-danger {
              .text {
                font-size: 16px;
                color: #994d4d;
              }
            }
          }
        }
      }
    }
  }
}
