&.popup-add-new-admin {
  .popup-content {
    border-top: 1px solid #ACACAC;
    padding-top: 1rem;
    margin-top: 1.5rem;

    .input-new-admin {
      .form-group {
        margin-bottom: 10px !important;

        .input-group {
          border: 1px solid #E1E1E1;

          .input-group-prepend {
            .input-group-text {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .button-wrap {
    margin-top: 75px;
  }
}