&.modal-cancellation {
  .form-textarea {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 0.75rem;
    background-color: #F8F8F8;
    border: 1px solid #919191;

      #remarks-cancel {
        width: 100%;
        font-family: "IBM Plex Sans";
        font-size: 14px;
        line-height: 20px;
        background-color: #F8F8F8;
        border: none;
        resize: none;
        height: 200px;
        cursor: auto; 

        &::-webkit-scrollbar {
          z-index: 10;
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background: #F8F8F8;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 20px;

          &:hover {
            background: #ababab;
          }
          background: #C4C4C4;
        }

        &:focus {
          outline: none;
        }
      }

    .text-counter {
      text-align: right;
    }
  }

  .button-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
}