&.forget-password-body {
  width: 100%;
  padding-bottom: 42px;

  .subtitle {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 33px;
  }

  .forget-password-form {
    max-width: 252px;
    margin: auto;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto 0;
  }
}
