&.konfirmasi-pembatalan {
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ACACAC;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  .button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 80px;

    .component-btn {
      margin-left: 1rem;

      &:first-child {
        width: 170px;
      }
    }
  }
}