&.mol-popup {
  &-req-voucher {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 1.5rem;

    .header {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 1px solid #acacac;
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;

      .header-title {
        display: flex;
        flex-flow: row nowrap;

        .title-info {
          display: flex;
          flex-flow: column nowrap;
          margin-left: 8px;

          .pane-header {
            margin-bottom: 8px;
          }
          .metadata, .subject-title {
            margin-bottom: 4px;
          }
        }
      }

      .button-wrapper {
        display: flex;
        margin-left: auto;

        .button-close {
          padding: 0;
          background-color: transparent;
        }
      }
    }

    .content {
      width: 100%;
      min-height: 300px;

      .content-left {
        display: flex;
        flex-flow: column nowrap;

        .req-info-item {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          padding-bottom: 1rem;

          a {
            font-size: 16px;
            line-height: 22px;
          }
          
          .item-title {
            width: 170px;
            align-self: flex-start;
          }
          .item-value {
            display: flex;
            flex-flow: column nowrap;
          }
        }
      }

      .content-right {
        display: flex;
        flex-flow: column nowrap;

        .form-group {
          margin-left: auto;

          label {
            width: 100%;
            text-align: right;
            color: #000;
          }
        }

        .nominal-transfer {
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          margin-top: auto;
          text-align: right;
          padding-bottom: 1rem;
        }
      }

      .remarks {
        .form-textarea {
          width: 100%;
          margin: 1rem 0;
          padding: 0.5rem 0.75rem;
          background-color: #F8F8F8;
          border: 1px solid #919191;

            #remarks-cancel {
              width: 100%;
              font-family: "IBM Plex Sans";
              font-size: 14px;
              line-height: 20px;
              background-color: #F8F8F8;
              border: none;
              resize: none;
              height: 100px;
              cursor: auto; 

              &::-webkit-scrollbar {
                z-index: 10;
                width: 5px;
              }

              &::-webkit-scrollbar-track {
                background: #F8F8F8;
              }

              &::-webkit-scrollbar-thumb {
                border-radius: 20px;

                &:hover {
                  background: #ababab;
                }
                background: #C4C4C4;
              }

              &:focus {
                outline: none;
              }
            }

          .text-counter {
            text-align: right;
          }
        }
      }
    }

    .footer {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .component-btn-action {
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover {
          .body-text {
            color: #fff !important;
          }
        }
      }

      .btn-submit-wrapper {
        display: flex;
        flex-flow: row nowrap;

        .component-btn-primary {
          margin-left: 16px;
          margin-right: 15px;
        }
      }
    }
  }

  &-upload-bukti-transfer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 1rem;

    .button-close-wrapper {
      display: flex;
      margin-left: auto;
      .button-close {
        padding: 0;
        background-color: transparent;
      }
    }

    .pane-header {
      text-align: center;
      margin-bottom: 30px;
    }
    
    .input-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 20px 0;

      .input-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 0.5rem;
        
        input[type="text"] {
          border: 1px solid #E1E1E1;
          background-color: #F8F8F8;
          box-sizing: border-box;
          height: 32px;
          width: 400px;
          overflow: hidden;
        }

        input[type="file"] {
          display: none;
          visibility: hidden;
        }

        label {
          margin: 0;
        }
      }

    }

    .description {
      width: 450px;
      text-align: center;
      margin-bottom: 0.5rem;
    }
  }
  
  &-loading {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 4rem 0;

    .spinner-wrapper {
      display: flex;
      justify-content: center;

      .spinner-border {
        margin: 32px;
        color: $primaryBrand;
        width: 10rem;
        height: 10rem;
        border-width: 0.5em;
      }
    }
  }

  &-upload-file {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 1rem;

    .input-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      margin: 1rem 0;
    }

    .button-wrapper {
      display: flex;
      margin-left: auto;

      .button-close {
        padding: 0;
        background-color: transparent;
      }
    }
  }

  &-confirm-uploaded-file {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 3rem;
    width: 100%;

    .icon-wrapper {
      width: 140px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin: 3rem 0 2.5rem;
      box-shadow: 0 0 0 15px $primaryBrand;
    }

    .button-wrapper {
      display: flex;
      margin-top: 2rem;

      .button-hapus,
      .button-simpan {
        min-width: 100px;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}
