.custom-modal {
  &-sm {
    max-width: 384px;
  }

  &-md {
    max-width: 484px;
  }

  &-lg {
    max-width: 684px;
  }

  &-auto {
    max-width: calc(100vw - 256px);
  }

  &.request-pembayaran {
    max-width: 778px;
  }

  .modal-content {
    border: transparent;
    border-radius: 8px;
    box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.14), 0px 3px 16px rgba(0, 0, 0, 0.12),
      0px 5px 6px rgba(0, 0, 0, 0.2);

    .modal-header {
      border-color: transparent;
      padding: 1.5rem;
      padding-bottom: 0;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;

      .modal-title {
        font-weight: 600;
        font-size: 32px;
        color: #323130;
        margin: 0 auto;
      }

      &-accent {
        padding: 21px;
        background-color: $primaryBrand;
        .modal-title {
          font-weight: 500;
          color: #fff;
        }
      }
    }

    .modal-body {
      padding: 1.5rem;

      // COMPONENT MODAL GOES HERE @import "[filename]"
      @import "../components/searchbar";
      @import "./contohModalProduk";
      @import "./forgotPassword";
      @import "./resetPassword";
      @import "./modalMolecules";
      @import "./cancellation";
      @import "./addNewAdmin";
      @import "./konfirmasiPembatalan";

      .custom-harga-akhir-wrapper {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        background-color: #f3f2f1;
        padding: 50px;
        padding-bottom: 30px;
        border: 1px solid transparent;

        .custom-harga-akhir-input {
          background-color: #f3f2f1;
          border: 1px solid transparent;
          border-bottom-color: #323130;
          font-size: 42px;
          line-height: 52px;
          padding: 25px 0 22px;
          text-align: center;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
