&.reset-password-body {
  .subtitle {
    font-size: 12px;
    line-height: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
  }

  .form-reset-password {
    margin: auto;
    max-width: 300px;
  }
}
