.reset-pass {
  width: 100%;
  height: 100vh;
  padding: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }

  .content-wrapper {
    position: absolute;
    z-index: 10;

    width: 450px;
    // height: 600px;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px 66px;

    .title {
      font-weight: bold;
      font-size: 25px;
      line-height: 34px;
      text-align: center;
      margin-bottom: 20px;
    }
    .reset-pass-input-field {
      margin-bottom: 16px;
    }

    &.loading {
      display: flex;
      align-items: center;
      justify-content: center;

      .reset-pass-spinner {
        width: 140px;
        height: 140px;
        color: $primaryBrand;
        margin-bottom: 80px;
      }
      .harap-tunggu {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
    }

    &.success {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 150px 35px 0;

      .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
      }
      .subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
