.finance {
  width: 100%;
  margin: 24px;
  padding: 24px;
  border-radius: 2px;

  &-cancellation {
    .content-cancellation {
      .table-collapse {
        .table-collapse-content {
          padding: 24px 0;
          background-color: #F1F1F1;

          table {
            tbody {
              margin-top: 0;
              box-shadow: none;
              tr {
                border-bottom: none;
                background-color: transparent;
                td {
                  vertical-align: top;
                  padding: 8px 12px;
                }
              }
            }
          }
        }
      }
    }

    &-details {
      margin: 0;
      padding: 0;
      width: 100%;

      .body {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;

        .content {
          &-left {
            height: calc(100vh - 56px);
            background-color: #fff;
            padding: 38px 20px 24px;

            display: block;
            float: left;
            width: 220px;
            position: fixed;
            top: 56px;

            .menu-list-item {
              font-size: 14px;
              line-height: 20px;
              transition: 150ms all ease-in-out;
              box-sizing: border-box;
              display: inline-flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              color: $gray190;
              margin-top: 24px;
              padding-left: 10px;
              cursor: pointer;

              &.active {
                color: $primaryBrand;
              }

              &:first-child {
                margin-top: 0;
              }

              &:hover {
                color: $primaryBrand;
              }
            }
          }

          &-main {
            min-height: 1500px;
            background-color: #fff;
            border-left: 1px solid $gray100;
            border-right: 1px solid $gray100;
            margin-left: 220px;
            margin-bottom: 500px;
            z-index: 100;

            display: block;
            float: left;
            width: calc(100vw - 80px - 220px - 320px);

            .header {
              padding-bottom: 20px;
              margin-bottom: 20px;
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid $gray100;

              .component-btn.back-button {
                margin-bottom: 0;
              }

              .button-wrapper {
                .component-btn {
                  width: 90px;
                  margin-left: 5px;
                }
              }
            }

            #alasan {
              min-height: 250px;
            }

            #pembayaran {
              min-height: 200px;
            }

            #pembelian {
              .list-item {
                padding-bottom: 16px;

                &-sales {
                  padding-top: 16px;
                  padding-bottom: 16px;
                  border-bottom: 1px solid #E1E1E1;
                }
              }

              .product-wrapper {
                &-sales {
                  padding-bottom: 150px;
                }
                
              }
            }

            #quality-control {
              .badge-qc {
                font-size: 10px;
                line-height: 12px;
                padding: 4px 10px;
                margin-left: 1rem;
                border-radius: 8px;
                border: 1px solid $primaryBrand;

                &-reject {
                  border: 1px solid #D92C2C;
                }
              }
            }
          }

          &-right {
            height: calc(100vh - 56px);
            background-color: #fff;
            padding: 10px 40px 20px 40px;

            display: block;
            float: right;
            width: 320px;
            position: fixed;
            top: 56px;
            right: 0;

            .header {
              display: flex;
              flex-flow: column nowrap;
              text-align: right;
              align-items: flex-end;
              justify-content: flex-start;
              height: 100px;
              padding-top: 16px;
              border-bottom: 1px solid #C8C8C8;
            }
          }
        }
      }
    }
  }

  &-activities {
    .header {
      display: flex;
      flex-direction: row;
    }

    .content {
      .content-child {
        .trx-activities {
          margin-left: 0;
          margin-right: 0;
          thead {
            th {
              text-align: left;
            }
          }
          tbody {
            td {
              padding-top: 8px;
              padding-bottom: 8px;
            }
          }
        }
      }
    }
  }

  &-dashboard {
    .content {
      &-overview {
        .mol-widget-panel {
          .percentage-item {
            display: block;
          }

          .body {
            .panel-by-product {
              // max-height: 160px;
              // overflow-y: auto;

              .widget-data-item {
                display: flex;
                justify-content: flex-start;
                padding-right: 1rem;
                margin-bottom: 0.75rem;

                div:nth-child(1) {
                  margin-right: auto;
                }

                .percentage-item {
                  text-align: left;
                  min-width: 50px;
                  margin-left: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  &-details {
    > .content {
      margin-bottom: 125px;
    }
  }
}
