.logistik {
  width: 100%;
  margin: 24px;
  padding: 24px;
  border-radius: 2px;

  // .in-bound,
  // .out-bound {
  //   width: 100%;

  //   .header {
  //     font-weight: 600;
  //     font-size: 24px;
  //     line-height: 40px;
  //   }
  //   .in-bound,
  //   .out-bound {
  //     margin-left: 0;
  //     margin-right: 0;
  //   }
  // }
}
