.kontrol {
  width: 100%;
  margin-top: 24px;
  padding: 24px;
  border-radius: 2px;

  .in-bound-qc,
  .out-bound-qc {
    .header {
      font-weight: 600;
      font-size: 24px;
      line-height: 40px;
    }
  }
}

.qc-inbound, .qc-outbound {
  width: 100%;
  margin: 24px;
  padding: 24px;
  border-radius: 2px;
}