$background: #f5f6f8;
$primary: #323130;
$secondary: #605e5c;
$disabled: #a19f9d;
$lighter: #deecf9;

$primaryBrand: #69984c;
$primaryTint1: #78a25e;
$primaryTint2: #87ad70;
$primaryTint3: #96b782;
$primaryTint4: #a5c194;
$primaryTint5: #b4cca6;
$primaryTint6: #c3d6b7;
$primaryTint7: #d2e0c9;
$primaryTint30: #daebcc;
$primaryShade1: #5f8944;
$primaryShade2: #547a3d;
$primaryShade3: #4a6a35;
$primaryShade4: #3f5b2e;
$primaryShade5: #354c26;
$primaryShade6: #2a3d1e;
$primaryShade7: #1f2e17;
$secondaryBrand: #3f3f3f;
$secondaryShade1: #393939;
$secondaryShade2: #323232;
$secondaryShade3: #2c2c2c;
$white: #fff;
$black: #000;
$warning: #dcab00;
$danger: #e05454;

$gray20: #f3f2f1;
$gray25: #f8f8f8;
$gray30: #edebe9;
$gray50: #f1f1f1;
$gray60: #c8c6c4;
$gray90: #a19f9d;
$gray100: #e1e1e1;
$gray110: #8a8886;
$gray130: #605e5c;
$gray160: #323130;
$gray190: #201f1e;
$gray200: #c8c8c8;
$gray400: #919191;
$gray500: #6e6e6e;
$gray600: #404040;
$gray800: #292929;
$gray900: #212121;

$error-status: #c70000;
$error-darker: #a80000;

$themeDark: #005a9e;
