@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

html {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: overlay;

    &.modal-open {
      padding-right: 0 !important;
    }

    @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
    @import "./variable";
    @import "./modal/modal";
    @import "./components/button";
    @import "./modal/activatingProduct";
    @import "./components/popover3dots";
    @import "./pages/Login/login";
    @import "./pages/ResetPass/resetPass";

    // COMPONENTS
    @import "./components/segmentedTitle";
    @import "./components/table";
    @import "./components/tabs";
    @import "./components/panel";
    @import "./components/typography";
    @import "./components/card";
    @import "./components/depth";
    @import "./components/select";
    @import "./components/formInput";
    @import "./components/molecules";
    @import "./components/widget";
    @import "./components/collapse";
    @import "./components/contextMenu";

    .App {
      margin: 0;
      padding: 0;
      background-color: $background;
      @import "./components/navbar";
      @import "./components/sidebar";

      .App-content {
        display: flex;
        padding-left: 80px;

        // * COMPONENTS
        @import "./components/searchbar";
        @import "./components/pagination";

        .main-container {
          display: flex;
          flex: 1 1;
          min-height: calc(100vh - 56px);
          background-color: $background;

          // * PAGES
          @import "./pages/Products/katalog";
          @import "./pages/Products/productDetails";
          @import "./pages/Products/pengaturanProduk";
          @import "./pages/TenderMasuk/tenderMasuk";
          @import "./pages/Purchasing/purchasing";
          @import "./pages/Finance/finance";
          @import "./pages/Kontrol/kontrol";
          @import "./pages/Inventory/inventory";
          @import "./pages/KatalogUser/katalogUser";
          @import "./pages/Logistik/logistik";
          @import "./pages/Sales/sales";
        }
      }
    }
  }
}
