@import "./variable";

.sandbox-ken {
  margin: 24px;
  padding: 24px;
  width: 100%;

  .header-table,
  .footer-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);

    div {
      padding: 14px 24px;
    }
  }

  .header-table {
    cursor: pointer;
  }
  .footer-table {
    .title,
    .debit,
    .kredit {
      font-size: 20px;
      line-height: 28px;
      color: #292929;
    }
    .debit {
      color: #ef443d;
    }
    .kredit {
      color: #5ebb72;
    }
  }

  // .collapses {
  //   opacity: 0;
  //   height: auto;
  //   max-height: 0;
  //   transition: max-height 0.25s ease-in-out, opacity 0.35s ease-in-out;

  //   &.show {
  //     opacity: 0.99;
  //     max-height: 1000px;
  //   }
  // }

  .card-detail-penjualan {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 1px solid #d2e0c9;
    border-radius: 8px;
    margin: 0.5rem 0;
    padding: 0;

    .body {
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-flow: row nowrap;

      .image-wrapper {
        width: 85px;
        height: 85px;
        overflow: hidden;
        margin-right: 1rem;
        border-radius: 2px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .product-info {
        width: 90%;

        .product-info-details {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          .details-item {
            display: flex;
            flex-flow: column nowrap;
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            min-width: 22%;
            max-width: 80%;

            &:first-child {
              min-width: 28%;
            }
          }
        }
      }
    }

    .collapsible-info {
      display: flex;
      flex-flow: column nowrap;
      border-top: 1px solid #f1f1f1;
      cursor: pointer;
      user-select: none;

      .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
      }

      .collapse-wrapper {
        display: flex;
        flex-flow: row wrap;

        .collapse-body {
          width: 50%;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-evenly;
          background-color: #f8f8f8;
          padding-top: 40px;
          padding-bottom: 40px;

          .collapse-body-content {
            display: flex;
            flex-flow: row wrap;
            padding: 8px;

            .stock-info {
              display: flex;
              flex-flow: column nowrap;

              &:nth-child(2) {
                margin: auto 21px;
              }

              &-percentage {
                width: 65px;
                height: 65px;
                border-radius: 65px;
                background-color: #d2e0c9;
                align-items: center;
                justify-content: center;
              }

              &-stock {
                justify-content: center;
              }

              &-status {
                align-items: flex-start;
              }
            }
          }
        }
      }
    }
  }
}
