.tender-masuk {
  min-height: 500px;
  width: 100%;

  .header {
    .header-title {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 36px;
    }
  }
}
